[Unit]
Description="{{ item.description }}"

[Service]
User={{ pyservice_user }}
Type=simple
ExecStart={{ pyservice_run }} {{ item.command }}

[Install]
WantedBy=multi-user.agent
