[Unit]
Description="{{ item.description }}"

[Service]
User={{ app_user }}
Type=simple
ExecStart={{ conda_run }} {{ item.command }}

[Install]
WantedBy=multi-user.agent
