[Unit]
Description="{{ item.description }}"
After=network.target

[Service]
User={{ pyservice_user }}
Type=simple
ExecStart={{ uv_run }} {{ item.command }}
Restart=always

[Install]
WantedBy=multi-user.target
